<!DOCTYPE html>
<h3>123</h3>
<form method="post" enctype="multipart/form-data" action="Upload/Add">
    <div>
        <p>Upload one or more files using this form:</p>
        <input type="file" name="files" />
    </div>
    <div>
        <input type="submit" value="Upload" />
    </div>
</form>

