@model MyTelegramBot.Company

 <h3>Контактные данные</h3>
@using (Html.BeginForm("ContactUpdate", "Home", FormMethod.Post)) {
<p>
    <label>
        Instagram
    </label><br />
    @Html.TextBoxFor(m => m.Instagram, new { @class = "form-control" })
</p>
<p>
    <label>
        VK
    </label><br />
    @Html.TextBoxFor(m => m.Vk, new { @class = "form-control" })
</p>

<p>
    <label>
        Чат в телеграм 
    </label><br />
    @Html.TextBoxFor(m => m.Chat, new { @class = "form-control" })
</p>

<p>
    <label>
        Канал в телеграм
    </label><br />
    @Html.TextBoxFor(m => m.Chanel, new { @class = "form-control" })
</p>
    <p>
        <input type="submit" value="Сохранить" />
    </p>
}


