@model MyTelegramBot.BotInfo
@{
    //ViewData["Title"] = "Список смартфонов";
    Layout = "_Layout";
}
<!DOCTYPE html>

@if (Model.Id == 0)
{
    @Html.ActionLink("Добавить", "Add", "Home");

}

@if (Model.Id > 0)
{
<h3>Бот</h3>
<table class="table">
    <tr>
        <td>Название</td>
        <td>Токен</td>
        <td>Дата добавления</td>
        <td></td>
    </tr>
  
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Token</td>
        <td>@Model.Timestamp.ToString()</td>
        <td><a href="~/Home/Editor/">Изменить</a></td>
    </tr>
    
</table>
}
